main{
	max-width: 750px;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 40px;
	font-family: Lato;


}

header{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: gray;
	
	/*position: fixed;*/
}

.menu-item {
	display: inline-block;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 25px;
	padding-right: 25px;
	font-family: Lato;
	color: #00bfff;
	font-size: 18px;
	font-weight: 300;
}
	a, a:visited, a:hover {
	text-decoration: none;
	color: #00bfff;
	
}
#logo{
	font-weight: bold;
}

#search {
	float: right;
}

#searchBox{
	font-size: 14px;
}

#searchButton{
	font-size: 14px;
	background-color: #00bfff;
	color:white;
}

.Rasheed{
	padding-bottom: 20px;
	padding-top: 20px;
}
.Devon{
	padding-bottom: 20px;
	padding-top: 20px;
}

	
footer{
	text-align: center;
}